@import "../../styles/constants.scss";

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    .description {
        width: 100%;
        text-indent: 24px;
        font-size: 16px;
        line-height: 24px;
        a {
            color: $green-400;
            font-weight: 600;
        }
    }

    .packageRoot {
        width: 100%;
        .mainTitle,
        .title {
            text-align: center;
            font-family: $font-title;
            font-size: 24px;
            font-weight: 500;
        }
        .mainTitle {
            text-align: left;
            margin-left: 12px;
            color: rgba(210, 210, 210);
        }
        .tableContainer {
            max-width: calc(100vw - 40px);
            overflow-x: auto;

            .table {
                width: 100%;
                table-layout: auto;
                border-collapse: collapse;

                th:first-child {
                    width: 30%;
                }

                .heading {
                    z-index: 20;
                    background-color: white;
                    th.freezedColumn {
                        background-color: white;
                        position: sticky;
                        z-index: 100;
                        left: 0;
                    }
                    & th:not(.freezedColumn) {
                        position: relative;
                        z-index: 10;
                    }
                    .packageTitle {
                        text-align: center;
                        padding: 24px;
                        display: flex;
                        flex-direction: column;
                        gap: 16px;
                        .titleContainer {
                            display: flex;
                            flex-direction: column;
                            position: relative;
                            width: max-content;
                            margin: 0 auto;
                            .title {
                                font-size: 30px;
                            }
                            .subtitle {
                                position: absolute;
                                font-size: 16px;
                                font-weight: 500;
                                opacity: 0.5;
                                bottom: 0;
                                right: 0;
                                transform: translateY(12px);
                            }
                        }
                        .price {
                            font-size: 20px;
                            &::after {
                                content: "\20B8";
                                margin-left: 4px;
                                font-size: 14px;
                            }
                        }
                        &.start {
                            color: #278c8f;
                        }
                        &.start_p {
                            color: #5e278f;
                        }
                        &.basic {
                            color: #588f27;
                        }
                        &.standart {
                            color: #278c8f;
                        }
                        &.standart_p {
                            color: #5e278f;
                        }
                        &.business {
                            color: #8f2a27;
                        }
                    }
                }

                $borderColor: rgba(210, 210, 210, 0.5);
                $treeViewColor: #bacfa4;
                $treeViewColorOpen: #f6fcef;
                $treeViewColorHover: #eaefe4;

                .body {
                    border: 1px solid $borderColor;
                    font-family: $font-text;
                    .subpackage {
                        border-bottom: 1px solid $borderColor;
                        td {
                            background: $white-400;
                            transition: background 0.2s;
                        }
                        & > td:first-child {
                            position: sticky;
                            left: 0;
                        }
                        .rowTitleContent {
                            width: 100%;
                            display: grid;
                            align-items: stretch;
                            .shifter {
                                height: 100%;
                                background-color: $treeViewColor;
                            }
                            .serviceTitle {
                                width: 100%;
                                padding: 12px 16px;
                                line-height: 22px;
                                position: relative;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                gap: 8px;
                                .chevron {
                                    $chevronSize: 24px;
                                    width: $chevronSize;
                                    height: $chevronSize;
                                    min-width: $chevronSize;
                                    min-height: $chevronSize;
                                    border-radius: $chevronSize;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    transition: transform 0.3s, background, 0.3s;
                                    color: $green-400;
                                    &.open {
                                        color: white;
                                        background-color: $green-400;
                                        transform: rotate(-180deg);
                                        transform-origin: center center;
                                    }
                                }
                                .rowTitle {
                                    width: 100%;
                                    display: grid;
                                    grid-template-columns: 1fr auto;
                                    gap: 16px;
                                    .infoIcon {
                                        color: $green-400;
                                    }
                                }
                                &.expanded {
                                    font-style: italic;
                                }
                            }
                        }
                        .contentPart {
                            div {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-weight: 300;
                                span {
                                    text-align: center;
                                    padding: 0 8px;
                                }
                                .icon {
                                    color: $green-400;
                                    font-size: 20px;
                                }
                            }
                        }
                        &.hasSub .rowTitleContent {
                            grid-template-columns: auto auto 1fr;
                        }
                        &:not(.hasSub) .rowTitleContent {
                            grid-template-columns: auto 1fr;
                        }
                        &.subpackage_1 {
                            .rowTitleContent {
                                font-weight: 700;
                            }
                        }
                        &.subpackage_2 {
                            .rowTitleContent {
                                font-weight: 600;
                            }
                        }
                        &.subpackage_3 {
                            .rowTitleContent {
                                font-weight: 400;
                            }
                        }
                        &.expanded {
                            td {
                                background-color: #edf5e6;
                            }
                            .contentPart {
                                div {
                                    .icon {
                                        font-size: 14px;
                                        color: rgba($green-400, 0.5);
                                    }
                                }
                            }
                        }
                        &.hasSub {
                            cursor: pointer;
                            &.open td {
                                background-color: $treeViewColorOpen;
                            }
                        }
                        &:hover,
                        &.hasSub.open:hover {
                            td {
                                background: $treeViewColorHover;
                            }
                        }
                    }
                }
            }
        }
    }

    .postTableText {
        width: 100%;
        text-align: right;
        opacity: 0.3;
    }
}

@media screen and (max-width: $laptop-size) {
    .main {
        .packageRoot {
            .tableContainer {
                .table {
                    .heading {
                        .packageTitle {
                            .title {
                                font-size: 22px;
                            }
                            .price {
                                font-size: 16px;
                            }
                        }
                    }
                    .body {
                        .subpackage {
                            .rowTitleContent {
                                .serviceTitle {
                                    padding: 8px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
