$font-brand: "Forum";
$font-title: "Raleway", sans-serif;
$font-text: "Open Sans", sans-serif;

$green-200: #a1d871;
$green-300: #71b732;
$green-400: #588f27;
$green-500: #284907;

$black-300: rgb(60, 60, 60);
$black-400: rgb(0, 0, 0);

$white-400: rgb(255, 255, 255);
$white-500: rgb(239, 239, 239);

$flotingBoxShadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px,
    rgba(17, 17, 26, 0.1) 0px 24px 80px, rgba($green-400, 0.2) 0px 3px 8px;

$desktop-size: 1200px;
$laptop-size: 992px;
$tablet-size: 768px;
$mobile-size: 576px;
