@import "../styles/constants.scss";

.main {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;

    .hero {
        height: 100vh;
        position: relative;
        background: linear-gradient(to right, rgba(black, 0.4), rgba(black, 0));

        .imageContainer {
            width: 100%;
            height: 100%;
            position: relative;
        }

        .backgroundContainer {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;

            .background {
                object-fit: cover;
            }
        }

        .topographicContainer {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            width: 45%;
            height: 100%;

            .topographic {
                opacity: 0.25;
                object-fit: contain;
                object-position: top left;
                user-select: none;
                -webkit-user-drag: none;
            }
        }

        .symbolsContainer {
            position: absolute;
            top: 150px;
            right: 0;
            z-index: 15;
            width: 100%;
            height: 150px;

            .symbols {
                opacity: 0.5;
                object-fit: contain;
                object-position: top right;
                user-select: none;
                -webkit-user-drag: none;
            }
        }

        .blurredCircle {
            position: absolute;
            top: 50%;
            left: 0;
            $radius: 200px;
            width: $radius;
            height: $radius;
            border-radius: 100px;
            filter: blur($radius / 2);
            background-color: #71b732;
            transform: translate(-50%, -50%);
            opacity: 0.6;
        }

        .textContainer {
            position: relative;
            z-index: 50;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            color: white;

            .wrapper {
                max-width: 50%;

                h1 {
                    font-size: 64px;
                    line-height: 64px;
                    font-weight: 700;
                    margin-bottom: 16px;
                    font-family: $font-title;
                }

                h3 {
                    font-family: $font-brand;
                    font-size: 28px;
                }

                h5 {
                    margin-top: 16px;
                    margin-bottom: 36px;
                    font-size: 16px;
                    font-family: $font-text;
                    line-height: 24px;
                }

                .moreBtn {
                    color: inherit;
                    text-decoration: none;
                    &:hover {
                        color: inherit;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $desktop-size) {
    .main {
        .hero {
            .textContainer {
                .wrapper {
                    h1 {
                        font-size: 56px;
                        line-height: 56px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $laptop-size) {
    .main {
        .hero {
            .textContainer {
                .wrapper {
                    max-width: 60%;
                    h1 {
                        font-size: 48px;
                        line-height: 48px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $tablet-size) {
    .main {
        .hero {
            .textContainer {
                .wrapper {
                    max-width: 75%;

                    h1 {
                        font-size: 38px;
                        line-height: 38px;
                    }
                    h3 {
                        font-size: 22px;
                    }
                    h5 {
                        font-size: 14px;
                        margin-top: 18px;
                        margin-bottom: 24px;
                        line-height: 22px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $mobile-size) {
    .main {
        .hero {
            .symbolsContainer {
                height: 100px;
            }
            .textContainer {
                .wrapper {
                    max-width: 85%;
                }
            }
        }
    }
}