@import "../../styles/constants.scss";

.main {
    width: 100%;
    padding: 32px 160px;
    display: grid;
    grid-template-columns: 3fr auto 2fr;
    gap: 24px;
    background-color: white;
    border-radius: 24px;
    box-shadow: $flotingBoxShadow;
    position: relative;
    overflow: hidden;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        $size: 250px;
        right: -($size / 2);
        width: $size;
        height: $size;
        border-radius: $size;
        background-color: $green-400;
        transform: translateY(-50%);
        filter: blur($size / 1.5);
    }

    .divider {
        width: 1px;
        height: 100%;
        background-color: $green-400;
    }

    .inputsContainer {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-areas:
            "modes taxations"
            "activityTypes taxations"
            "activityTypes staffs";
        gap: 16px 32px;
        position: relative;
        z-index: 10;

        .inputContainer {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            .title {
                font-family: $font-text;
                font-size: 18px;
                font-weight: 700;
                color: rgb(50,50,50);
            }

            &.modes {
                grid-area: modes;
            }

            &.activityTypes {
                grid-area: activityTypes;
            }

            &.taxations {
                grid-area: taxations;
            }

            &.staffs {
                grid-area: staffs;
            }

            .checkboxGroup {
                display: flex;
                flex-direction: column;
                gap: 4px;

                .subgroup {
                    padding-top: 4px;
                    display: flex;
                    flex-direction: column;
                    gap: 4px;

                    .title {
                        margin: 0;
                        font-size: 16px;
                        color: #737373;
                    }
                }
            }

            .staffSliderContainer {
                width: 200px;
                margin: 0 auto;
            }
        }
    }

    .totalContainer {
        width: max-content;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 8px;

        .title {
            font-family: $font-title;
            font-size: 48px;
            font-weight: 500;
            color: $green-400;
        }
        .price {
            font-family: $font-text;
            font-weight: 600;
            font-size: 24px;
            user-select: none;
            filter: drop-shadow(0 4px 6px rgba($green-500, 0.3));
            &::after {
                content: "\20B8";
                margin-left: 4px;
            }
        }
    }

    .imageContainer {
        width: 250px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
    }
    .topographic {
        opacity: 0.25;
        object-fit: contain;
        object-position: bottom right;
        user-select: none;
        -webkit-user-drag: none;
    }
}

@media screen and (max-width: 1200px) {
    .main {
        padding: 32px 120px;
    }
}

@media screen and (max-width: 992px) {
    .main {
        padding: 24px 32px;
        grid-template-columns: 4fr auto 2fr;
        .inputsContainer {
            .inputContainer {
                .staffSliderContainer {
                    width: 170px;
                }
            }
        }
        .totalContainer {
            .title {
                font-size: 36px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .main {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;

        &::after {
            top: unset;
            bottom: 0;
            transform: translateY(50%);
        }
        .divider {
            width: 100%;
            height: 1px;
        }

        .imageContainer {
            display: none;
        }
        .topographic {
            object-position: bottom left;
        }
    }
}

@media screen and (max-width: 576px) {
    .main {
        .imageContainer {
            display: block;
            max-width: 200px;
            width: 45%;
        }
        .inputsContainer {
            grid-template-columns: auto;
            grid-template-areas:
                "modes "
                "activityTypes"
                "taxations"
                "staffs";
            .inputContainer {
                .staffSliderContainer {
                    width: 200px;
                }
            }
        }
    }
}
