@import "../../styles/constants.scss";

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    .aboutContainer {
        width: 100%;
        .contentContainer {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 24px;
            .descriptionContainer {
                max-width: 800px;
                margin: 0 auto;
                padding: 16px;
                .description {
                    font-size: 16px;
                    font-family: $font-text;
                    line-height: 32px;
                    margin: 0;
                    .icon {
                        color: $green-400;
                        margin-right: 4px;
                    }
                }
            }
        }
    }
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 16px;
    }
    .backgroundFiller {
        width: 100%;
        background: linear-gradient(to bottom, #e8e8e8, #e5e5e5, #d2d2d4);
    }
    .imageContainer {
        position: relative;
        &.teamImageContainer {
            margin: 0 auto;
            width: 100%;
            max-width: 800px;
            height: 600px;
            .teamImage {
                object-fit: cover;
            }
        }
    }
    .subtitle {
        font-size: 24px;
        font-family: $font-title;
        font-weight: 600;
    }
    .teamCertContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 32px;
    }
    .teamContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .certificatesContainer {
        width: 100%;
        max-height: 500px;
        position: relative;
        overflow: hidden;
        background-color: rgb(240,240,240);
        .arrowIcon {
            font-size: 24px;
            color: black;
        }
        .imageContainer {
            width: 100%;
            max-height: 500px;
            aspect-ratio: 29.7 / 21;
            position: relative;
            .image {
                object-fit: contain;
            }
        }
    }
}

.teamMemberCard {
    width: 100%;
    max-width: 800px;
    display: grid;
    gap: 24px;
    border-radius: 24px;
    overflow: hidden;
    .profileDesc {
        display: grid;
        .content {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 12px;
            padding: 16px 20px;
            font-family: $font-text;
            .fullname {
                font-size: 20px;
                font-weight: 600;
                font-family: $font-title;
            }
        }
    }
    &.right .profileDesc {
        grid-template-columns: 1fr 200px;
        .content {
            text-align: right;
        }
        .leftImage {
            display: none;
        }
    }
    &:not(.right) .profileDesc {
        grid-template-columns: 200px 1fr;
        .rightImage {
            display: none;
        }
    }
    .modileText {
        display: none;
    }
    .imageContainer {
        position: relative;
        width: 100%;
        height: 100%;
        .image {
            object-fit: cover;
            user-select: none;
            -webkit-user-drag: none;
        }
    }
}

@media screen and (max-width: $desktop-size) {
    .main {
        .aboutContainer {
            .contentContainer {
                .descriptionContainer {
                    .description {
                        line-height: 28px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $laptop-size) {
    .main {
        .aboutContainer {
            .contentContainer {
                margin-bottom: unset;
                .descriptionContainer {
                    position: unset;
                    transform: unset;
                    width: 100%;
                    max-width: unset;
                    border-radius: unset;
                    box-shadow: none;
                }
            }
        }
    }
}

@media screen and (max-width: $mobile-size) {
    .main {
        .imageContainer {
            &.teamImageContainer {
                height: 300px;
                .teamImage {
                    object-position: top center;
                }
            }
        }
    }
    .teamMemberCard {
        box-shadow: unset;
        border-radius: unset;
        overflow: unset;
        .profileDesc {
            .content {
                .text {
                    display: none;
                }
            }
        }
        $imageSize: 250px;
        &.right .profileDesc {
            grid-template-columns: 1fr;
            grid-template-rows: $imageSize 1fr;
            .content {
                text-align: unset;
            }
            .leftImage {
                display: block;
            }
            .rightImage {
                display: none;
            }
        }
        &:not(.right) .profileDesc {
            grid-template-columns: 1fr;
            grid-template-rows: $imageSize 1fr;
        }
        .imageContainer {
            width: unset;
            height: 100%;
        }
        .modileText {
            display: block;
        }
    }
}
